@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0;
    padding: 0;
    background-color: #282828;
    color: #fff;
    font-family: 'Montserrat';
}

h2{
    font-size: 35px;
    margin: 30px
}

.cabecario{
    display: flex;
    margin-bottom: 20px;
}

.botao_voltar{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px;
}
.voltar_txt{
    display: block;
}

.box_titulo{
    width: 80%;
    text-align: center;

}
/* barra de navegação do cardápio */
.box_bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}
.nav_bar{
    background-color: #414141;
    border-radius: 20px;
    

}
.lista_itens{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    gap: 30px;
    
}
a{
    color: #ffff;
    text-decoration: none;
}
a:hover{
    /* background-color: #F3C13F; */
    color: white;
    transition: 0.7s;
    border-bottom: solid 3px #F3C13F;
    font-size: 20px;
}


.comida{
    display: flex;
    margin: 20px;
    gap: 40px;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
    
    
}

/* imagem e informações da comida */
.box_comida{
    background-color: #303030;
    padding: 20px;
    border-radius: 15px;
    max-width: 350px;
    
   
    
    
}
.box_comida:hover{
    transition: 0.1s;
    border: solid 4px #F3C13F;
}

.imagem{
    width: 330px;
    height: 330px;
    border-radius: 360px;
    
    

}

.informacoes{
    background-color: #303030;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    flex-wrap: wrap;
    
}


.nome_comida{
    text-align: center;
    color: #ffffffad;
    font-size: 20px;
    flex-wrap: wrap;
}

.preco{
    color: rgb(240, 220, 40);
    text-align: center;
    font-size: 15px;
}